.about {
	&-section {
		padding: 60px 0;
		background: url(../images/bgs/about-bg.jpg) no-repeat;
		background-size: cover;
		
		.title {
			margin-bottom: 50px;
			
			@media #{$mobile} {
				margin-bottom: 35px;
			}
		}
		
		@media #{$desktop} {
			padding: 50px 0;
		}
		@media #{$tablet} {
			padding: 40px 0;
		}
		@media #{$mobile} {
			padding: 25px 0;
		}
	}
	
	&-description {
		max-width: 850px;
		margin: auto;
		background: $white;
		padding: 70px 60px;
		
		h5 {
			font-size: 24px;
			color: #503749;
			margin-bottom: 35px;
		}
			
		p {
			font-size: 18px;
			margin-bottom: 30px;
			
			&:last-child {
				margin-bottom: 0;
			}
		}
		
		@media #{$tablet} {
			width: 100%;
		}
		
		@media #{$mobile} {
			padding: 15px 20px 20px;
		}
	}
}