.action {
	&-section {
		padding: 60px 0;
		background: url(../images/bgs/action-bg.jpg) no-repeat;
		background-size: cover;
		background-position: center;
		
		.title {
			margin-bottom: 50px;
			
			@media #{$mobile} {
				margin-bottom: 35px;
			}
		}
		
		@media #{$desktop} {
			padding: 50px 0;
		}
		@media #{$tablet} {
			padding: 40px 0;
		}
		@media #{$mobile} {
			padding: 25px 0;
		}
	}

	&-inner {
		padding: 60px 0;
		background: rgba($white, .88);
		border: 5px solid rgba(#e7e7e6, .88);
		position: relative;
		
		.bird {
			position: absolute;
			left: 15px;
			top: -30px;
			
			.fi {
				color: #a4a4a4;
				font-size: 115px;
			}
			
			p {
				padding: 0;
				position: absolute;
				top: 50%;
				left: -4px;
				width: 100%;
				font-size: 20px;
				margin-top: -8px;
				font-weight: $light;
				color: $white;
				text-align: center;
			}
		}
		
		.callback-form {
			::-webkit-input-placeholder {
				color: #503749;
			}
			::-moz-placeholder {
				color: #503749;
			}
			:-moz-placeholder {
				color: #503749;
			}
			:-ms-input-placeholder {
				color: #503749;
			}

			input {
				border-color: #503749;
			}
		}
		
		h4 {
			font-family: $second-font;
			font-size: 22px;
			margin-top: 0;
			margin-bottom: 20px;
			line-height: 1.4;
			padding-left: 50px;
		}
		
		p {
			padding-left: 50px;
			font-size: 18px;
			font-weight: $light;
		}
		
		@media #{$desktop} {
			h4, p {
				padding-left: 50px;
			}
		}

		@media #{$tablet} {
			padding: 50px 15px;
			h4, p {
				padding-left: 0;
			}
		}
		
		@media #{$mobile} {
			padding: 30px 15px;
			
			h4 {
				margin-bottom: 15px;
			}
			
			p {
				margin-bottom: 15px;
			}
		}
	}
}