body {
	font-family: $base-font-family;
	font-size: $base-font-size;
	font-weight: $base-font-weight;
	color: $base-font-color;
}

.title {
	margin-bottom: 90px;
	font-family: $second-font;
	font-size: 32px;
	text-align: center;
	
	&-icon {
		position: relative;
		
		&:after {
			content: '';
			position: absolute;
			top: 100%;
			left: calc(50% - 67px);
			background: url(../images/icons/title.png) no-repeat;
			height: 17px;
			width: 134px;
			margin-top: 15px;
		}
	}
	
	&-white {
		color: $white;
	}
	
	@media #{$desktop} {
		margin-bottom: 80px;
	}
	@media #{$tablet} {
		margin-bottom: 70px;
	}
	@media #{$mobile} {
		font-size: 28px;
	}
}

.btn {
	display: inline-block;
	width: 100%;
	padding: 10px;
	border-radius: 0;
	outline: none !important;
	box-shadow: none !important;
	transition: all, 0.3s, linear;
	
	&-large {
		padding: 14px 10px;
	}
	
	&-light {
		background: $pink-light;
		color: $white;
		
		&:hover,
		&:focus {
			color: $white;
			background: #ef8ba5;
		}
		
		&:active {
			background: #c38b9d;
		}
	}
	
	&-green {
		background: #c1c26f;
		color: $white;
		
		&:hover,
		&:focus {
			color: $white;
			background: #c3c452;
		}
		
		&:active {
			background: #b3b462;
		}
	}
}

.social-links {
	a {
		display: inline-block;
		margin: 0 3px;
		color: #4b3a4a;
		font-size: 22px;
		transition: all, 0.3s, linear;

		&:hover,
		&:focus {
			color: $white;
		}

		.fa {
			vertical-align: middle;
		}
	}
}

.flip {
	&:before {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
		}
}