.budget {
	&-section {
		background: #f2f2f2;
		padding: 60px 0;

		.title {
			margin-bottom: 55px;
		}
		
		@media #{$desktop} {
			padding: 50px 0;
		}
		@media #{$tablet} {
			padding: 40px 0;
		}
		@media #{$mobile} {
			padding: 25px 0;
		}
	}

	&-item {
		position: relative;
		margin-bottom: 10px;
		min-height: 160px;
		
		&-icon {
			height: 100px;
			width: 100px;
			line-height: 100px;
			text-align: center;
			margin: auto;
			
			.fi {
				vertical-align: middle;
				font-size: 50px;
				color: #857286;
			}
		}
		
		h5 {
			font-family: $second-font;
			font-size: 18px;
			text-align: center;
			margin-bottom: 2px;
			margin-top: 0;
		}
		
		p {
			text-align: center;
			margin-bottom: 0;
			font-size: 13px;
		}
		
		.fi-plus {
			position: absolute;
			bottom: -20px;
			right: -25px;
			font-size: 25px;
			color: #59425a;
			opacity: .25;
			
			@media #{$mobile} {
				bottom: -24px;
				right: calc(50% - 13px);
			}
		}
	}

	&-description {
		margin-top: 35px;
		
		h2 {
			font-family: $second-font;
			font-size: 32px;
			margin-bottom: 25px;
			margin-top: 0;
			text-align: center;
		}
		
		a {
			color: #d88aa3;
			text-decoration: none;
			border-bottom: 1px dashed #d88aa3;
			transition: all, 0.3s, linear;
			
			&:hover {
				border-color: transparent;
			}
		}
		
		@media #{$mobile} {
			margin-top: 15px;
			
			h2 {
				font-size: 25px;
				margin-bottom: 20px;
			}
		}
	}
}