.callback {
	&-form {
		padding-right: 100px;

		::-webkit-input-placeholder {
			color: $white;
			font-style: italic;
		}
		::-moz-placeholder {
			color: $white;
			font-style: italic;
		}
		:-moz-placeholder {
			color: $white;
			font-style: italic;
		}
		:-ms-input-placeholder {
			color: $white;
			font-style: italic;
		}

		input {
			width: 100%;
			padding: 13px;
			margin-bottom: 14px;
			background: transparent;
			border: 1px solid $white;
			outline: none;
		}

		@media #{$desktop} {
			padding-right: 50px;
		}

		@media #{$tablet} {
			padding-right: 0;
		}
	}
	
	&-section {
		background: #604962;
		padding: 55px 0 50px;
		color: $white;
		
		h4 {
			font-family: $second-font;
			font-size: 22px;
			margin-top: 0;
			margin-bottom: 20px;
			line-height: 1.4;
		}
		
		p {
			font-size: 18px;
			font-weight: $light;
		}
		
		@media #{$mobile} {
			position: static;
			padding: 25px 0;
			background: #604962;
			
			h4 {
				margin-bottom: 15px;
			}
			
			p {
				margin-bottom: 15px;
			}
		}
	}
}