.feedbacks {
	&-section {
		padding: 60px 0;

		@media #{$desktop} {
			padding: 50px 0;
		}
		@media #{$tablet} {
			padding: 40px 0;
		}
		@media #{$mobile} {
			padding: 25px 0;
		}
	}

	&-inner {
		text-align: center;
	}

	&-item {
		display: inline-block;
		position: relative;
		max-width: 350px;
		margin: 10px;
		
		img {
			max-width: 100%;
		}
		
		.names {
			position: absolute;
			left: 0;
			bottom: 0;
			padding: 15px 25px;
			width: 100%;
			text-align: right;
			font-family: $second-font;
			font-size: 30px;
			color: $white;
			z-index: 5;
		}
		
		&-description {
			padding: 25px 25px 0;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			text-align: left;
			background: rgba(#585858, .95);
			visibility: hidden;
			opacity: 0;
			transition: all, 0.5s, linear;
			
			h5 {
				font-family: $second-font;
				font-size: 18px;
				color: #d88aa3;
				margin-bottom: 15px;
			}
			
			p {
				font-size: 16px;
				color: $white;
			}
			
			a {
				font-size: 16px;
				color: #d88aa3;
			}
		}
		
		&:hover {
			.feedbacks-item-description {
				visibility: visible;
				opacity: 1;
			}
		}
		
		@media #{$tablet} {
			max-width: 300px;
			
			.names {
				padding: 10px 15px;
			}
			
			&-description {
				padding: 10px 10px 0;
				
				p {
					font-size: 15px;
				}
			}
		}

		@media #{$mobile} {
			.names {
				font-size: 25px;
				padding: 5px 10px;
			}
			
			&-description {
				h5 {
					font-size: 15px;
				}
				
				p {
					font-size: 13px;
				}
				
				a {
					font-size: 13px;
				}
			}
		}
	}
}