$flaticon-path: '../fonts/flaticon/';

    @font-face {
  font-family: "Flaticon";
  src: url("#{$flaticon-path}/Flaticon.eot");
  src: url("#{$flaticon-path}/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("#{$flaticon-path}/Flaticon.woff") format("woff"),
       url("#{$flaticon-path}/Flaticon.ttf") format("truetype"),
       url("#{$flaticon-path}/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-animals:before { content: "\f100"; }
.flaticon-animals-1:before { content: "\f101"; }
.flaticon-animals-2:before { content: "\f102"; }
.flaticon-arrows:before { content: "\f103"; }
.flaticon-black:before { content: "\f104"; }
.flaticon-black-1:before { content: "\f105"; }
.flaticon-business:before { content: "\f106"; }
.flaticon-business-1:before { content: "\f107"; }
.flaticon-camera:before { content: "\f108"; }
.flaticon-champagne:before { content: "\f109"; }
.flaticon-check:before { content: "\f10a"; }
.flaticon-clock:before { content: "\f10b"; }
.flaticon-cross:before { content: "\f10c"; }
.flaticon-food:before { content: "\f10d"; }
.flaticon-food-1:before { content: "\f10e"; }
.flaticon-food-2:before { content: "\f10f"; }
.flaticon-heart:before { content: "\f110"; }
.flaticon-home:before { content: "\f111"; }
.flaticon-interface:before { content: "\f112"; }
.flaticon-interface-1:before { content: "\f113"; }
.flaticon-letter:before { content: "\f114"; }
.flaticon-love:before { content: "\f115"; }
.flaticon-money:before { content: "\f116"; }
.flaticon-money-1:before { content: "\f117"; }
.flaticon-music:before { content: "\f118"; }
.flaticon-music-1:before { content: "\f119"; }
.flaticon-nature:before { content: "\f11a"; }
.flaticon-note:before { content: "\f11b"; }
.flaticon-party:before { content: "\f11c"; }
.flaticon-people:before { content: "\f11d"; }
.flaticon-picture:before { content: "\f11e"; }
.flaticon-pin:before { content: "\f11f"; }
.flaticon-present:before { content: "\f120"; }
.flaticon-ribbon:before { content: "\f121"; }
.flaticon-search:before { content: "\f122"; }
.flaticon-shapes:before { content: "\f123"; }
.flaticon-shapes-1:before { content: "\f124"; }
.flaticon-shapes-2:before { content: "\f125"; }
.flaticon-signature:before { content: "\f126"; }
.flaticon-social-media:before { content: "\f127"; }
.flaticon-social-media-1:before { content: "\f128"; }
.flaticon-square:before { content: "\f129"; }
.flaticon-square-1:before { content: "\f12a"; }
.flaticon-technology:before { content: "\f12b"; }
.flaticon-technology-1:before { content: "\f12c"; }
.flaticon-technology-2:before { content: "\f12d"; }
.flaticon-time:before { content: "\f12e"; }
.flaticon-transport:before { content: "\f12f"; }
.flaticon-transport-1:before { content: "\f130"; }
.flaticon-youtube:before { content: "\f131"; }
    
    $font-Flaticon-animals: "\f100";
    $font-Flaticon-animals-1: "\f101";
    $font-Flaticon-animals-2: "\f102";
    $font-Flaticon-arrows: "\f103";
    $font-Flaticon-black: "\f104";
    $font-Flaticon-black-1: "\f105";
    $font-Flaticon-business: "\f106";
    $font-Flaticon-business-1: "\f107";
    $font-Flaticon-camera: "\f108";
    $font-Flaticon-champagne: "\f109";
    $font-Flaticon-check: "\f10a";
    $font-Flaticon-clock: "\f10b";
    $font-Flaticon-cross: "\f10c";
    $font-Flaticon-food: "\f10d";
    $font-Flaticon-food-1: "\f10e";
    $font-Flaticon-food-2: "\f10f";
    $font-Flaticon-heart: "\f110";
    $font-Flaticon-home: "\f111";
    $font-Flaticon-interface: "\f112";
    $font-Flaticon-interface-1: "\f113";
    $font-Flaticon-letter: "\f114";
    $font-Flaticon-love: "\f115";
    $font-Flaticon-money: "\f116";
    $font-Flaticon-money-1: "\f117";
    $font-Flaticon-music: "\f118";
    $font-Flaticon-music-1: "\f119";
    $font-Flaticon-nature: "\f11a";
    $font-Flaticon-note: "\f11b";
    $font-Flaticon-party: "\f11c";
    $font-Flaticon-people: "\f11d";
    $font-Flaticon-picture: "\f11e";
    $font-Flaticon-pin: "\f11f";
    $font-Flaticon-present: "\f120";
    $font-Flaticon-ribbon: "\f121";
    $font-Flaticon-search: "\f122";
    $font-Flaticon-shapes: "\f123";
    $font-Flaticon-shapes-1: "\f124";
    $font-Flaticon-shapes-2: "\f125";
    $font-Flaticon-signature: "\f126";
    $font-Flaticon-social-media: "\f127";
    $font-Flaticon-social-media-1: "\f128";
    $font-Flaticon-square: "\f129";
    $font-Flaticon-square-1: "\f12a";
    $font-Flaticon-technology: "\f12b";
    $font-Flaticon-technology-1: "\f12c";
    $font-Flaticon-technology-2: "\f12d";
    $font-Flaticon-time: "\f12e";
    $font-Flaticon-transport: "\f12f";
    $font-Flaticon-transport-1: "\f130";
    $font-Flaticon-youtube: "\f131";