.footer {
	background: $purple;
	
	&-copyright {
		margin-top: 25px;
		
		p {
			margin-bottom: 0;
			margin-top: 5px;
			color: #d88aa3;
			
			a {
				text-decoration: underline;
				color: #d88aa3;
				transition: all, 0.3s, linear;
				
				&:hover,
				&:focus {
					color: $white;
				}
			}
		}
	}
	
	&-top {
		@extend .header-top;
		padding: 40px 0;
		background: none;
		
		p {
			color: $white;
		}
		
		@media #{$mobile} {
			padding: 20px 0 5px;
		}
	}
	
	&-menu {
		padding: 10px 0 25px;
		
		&-nav {
			display: inline-block;
			padding: 0;
			margin: 0;
			
			li {
				display: inline-block;
				border-right: 1px solid rgba(#ffabc6, .35);
				
				&:last-child {
					border-right: none;
				}
				
				a {
					padding: 4px 8px;
					color: #ffabc6;
					text-decoration: none;
					transition: all, 0.3s, linear;
					
					&:hover {
						color: $white;
					}
				}
			}
			
			@media #{$mobile} {
				display: block;
				
				li {
					display: block;
					border-right: none;
					margin-top: 8px;
				}
			}
		}
		
		.social-links {
			display: inline-block;
			margin-left: 15px;
			margin-bottom: -2px;
			
			a {
				color: #ffabc6;
				
				&:hover,
				&:focus {
					color: $white;
				}
			}
			
			@media #{$mobile} {
				display: block;
				margin-left: 0;
				margin-top: 20px;
			}
		}
	}
}