.header {
	min-height: 222px;
	&-top {
		background: $white;
		padding: 30px 0;
		
		.logo {
			a {
				display: inline-block;
			}
			
			img {
				max-width: 100%;
			}
		}
		
		p {
			margin-bottom: 5px;
		}
		
		.address,
		.contacts {
			float: left;
			width: 30%;
		}
		
		.contacts {
			padding-left: 20px;
		}
		
		.numbers {
			.fi {
				font-size: 24px;
				float: left;
				margin-right: 4px;
				margin-top: 7px;
				margin-left: -6px;
				text-align: left
			}
			
			span {
				display: block;
				
				& + span {
					margin-top: 3px;
				}
			}
		}
		
		.callback {
			float: right;
			width: 40%;
		}
		
		.large {
			font-size: 16px;
		}
		
		.pink {
			color: #d88aa3
		}
		
		.mail {
			font-size: 13px;
			
			.fi {
				margin-right: 9px;
			}
		}
		
		.btn {
			margin-top: 15px;
		}
		
		@media #{$tablet} {
			.address,
			.contacts {
				width: 50%;
			}
			
			.callback {
				float: none;
				width: 100%;
			}
		}
	
		@media #{$mobile} {
			padding: 20px 0;
			
			.logo {
				text-align: center;
				margin-bottom: 20px;
				
				img {
					max-width: 230px;
				}
			}
			
			.address,
			.contacts {
				width: 100%;
				float: none;
				text-align: center;
			}
			
			.contacts {
				padding-left: 0;
			}
			
			.numbers {
				.fi {
					float: none;
					vertical-align: middle;
				}
				
				span {
					display: inline-block;
					
					& + span {
						margin-top: 0;
						margin-left: 10px;
					}
				}
			}
			
			.btn {
				max-width: 350px;
				display: block;
				margin: 10px auto 0;
			}
		}
	}
	
	&-menu {
		background: $pink-light;
		padding: 25px 0;
		
		&.fixed {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 50;
		}
		
		@media #{$desktop} {
			padding: 15px 0;
		}
		
		.nav-button {
			float: right;
			position: relative;
			padding: 10px;
			background-color: transparent;
			background-image: none;
			border: 1px solid $white;
			outline: none;
			transition: all, 0.3s, linear;

			.icon-bar {
				display: block;
				width: 22px;
				height: 2px;
				border-radius: 1px;
				background: $white;
				margin-bottom: 5px;
				
				&:last-child {
					margin-bottom: 0;
				}
			}
			
			&.opened {
				background: $white;
				
				.icon-bar {
					background: #cd97a8;
				}
			}
		}
		
		&-nav {
			padding: 0;
			margin: 0;
			display: inline-block;

			li {
				display: inline-block;
				
				a {
					display: block;
					padding: 8px;
					font-size: 15px;
					color: #373332;
					text-decoration: none;
					border: 1px solid transparent;
					
					transition: all, 0.3s, linear;
					
					&:hover {
						border-color: $white;
						color: $white;
					}
				}
				
				&.active {
					a {
						color: $white;
						border-color: $white;
					}
				}
			}
			@media #{$desktop} {
				text-align: center;
				li {
					margin-bottom: 5px;
					a {
						padding: 5px;
					}
				}
			}
			@media #{$mobile} {
				display: none;
				
				li {
					display: block;
					text-align: center;
					
					a {
						display: inline-block;
					}
				}
			}
		}
		
		.social-links {
			float: right;
			margin-top: 4px;
			margin-right: 10px;
			
			@media #{$desktop} {
				margin-top: 2px;
				margin-right: 0;
				float: none;
				text-align: center;
			}
		}
	}
}