.main-slider {
	&-section {
		position: relative;
	}
	
	&-item {
		position: relative;
	}
	
	&-description {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding-top: 100px;
		z-index: 5;
		
		h2 {
			padding: 5px;
			background: $white;
			font-size: 60px;
			font-weight: $light;
			font-style: italic;
			display: inline-block;
			margin-top: 0;
			margin-bottom: 15px;
		}
		
		p {
			padding: 2px 5px;
			background: $white;
			font-size: 40px;
			font-weight: $light;
			display: inline-block;
			margin: 0;
		}
		
		@media #{$desktop} {
			h2 {
				font-size: 50px;
			}
			p {
				font-size: 30px;
			}
		}
	
		@media #{$mobile} {
			padding-top: 30px;
			
			h2 {
				font-size: 35px;
			}
			p {
				font-size: 25px;
			}
		}
	}
	
	&-form {
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		background: rgba($purple, .88);
		padding: 55px 0 50px;
		color: $white;
		
		h4 {
			font-family: $second-font;
			font-size: 22px;
			margin-top: 0;
			margin-bottom: 20px;
			line-height: 1.4;
		}
		
		p {
			font-size: 18px;
			font-weight: $light;
		}
		
		@media #{$tablet} {
			position: static;
			padding: 25px 0;
			background: #604962;
			
			h4 {
				margin-bottom: 15px;
			}
			
			p {
				margin-bottom: 15px;
			}
		}
	}
}