.organization {
	&-section {
		padding: 60px 0;
		
		@media #{$desktop} {
			padding: 50px 0;
		}
		@media #{$tablet} {
			padding: 40px 0;
		}
		@media #{$mobile} {
			padding: 25px 0;
		}
	}

	&-item {
		position: relative;
		margin-bottom: 20px;
		
		&-icon {
			background: #fdfaf7;
			border-radius: 50%;
			height: 140px;
			width: 140px;
			line-height: 140px;
			text-align: center;
			margin: auto;
			
			.fi {
				vertical-align: middle;
				font-size: 65px;
				color: #d88aa3;
			}
		}
		
		p {
			text-align: center;
			margin-bottom: 0;
			margin-top: 8px;
			font-size: 13px;
		}
		
		.fi-next {
			position: absolute;
			top: 50px;
			right: -30px;
			font-size: 30px;
			color: #d88aa3;
			
			@media #{$mobile} {
				display: none;
			}
		}

		.fi-last {
			right: -100px;
			&:after {
				content: '';
				position: absolute;
				right: 0;
				top: -10px;
				height: 30px;
				width: 2px;
				background: #d88aa3;
				border-radius: 2px 2px 0 0;
			}
			
			@media #{$desktop} {
				right: -15px;
			}
			@media #{$tablet} {
				right: -30px;
			}
		}
	}
}