.portfolio {
	&-section {
		padding: 60px 0 0;
		
		@media #{$desktop} {
			padding: 50px 0 0;
		}
		@media #{$tablet} {
			padding: 40px 0 0;
		}
		@media #{$mobile} {
			padding: 25px 0 0;
		}
	}

	&-description {
		font-size: 18px;
		text-align: center;
		margin-bottom: 45px;
	}
	
	&-inner {
		@extend .clearfix;
		display: table;
		
		@media #{$mobile} {
			display: block;
		}
	}
	
	&-item {
		display: table-cell;
		width: 25%;
		vertical-align: middle;
		
		@media #{$mobile} {
			display: block;
			width: 100%;
			text-align: center;
		}

		img {
			max-width: 100%;
		}
		
		&-main {
			background: #585858;
			text-align: center;
			
			img {
				max-width: 100%;
			}
			
			h5 {
				margin-bottom: 0;
				font-family: $second-font;
				font-size: 24px;
				color: $white;
				line-height: 1.3;
				
				span {
					text-transform: uppercase;
				}
			}
			@media #{$desktop} {
				padding: 0 15px;
				h5 {
					font-size: 20px;
				}
			}
			@media #{$tablet} {
				h5 {
					font-size: 18px;
				}
			}
			@media #{$mobile} {
				padding: 50px 15px;
			}
		}
	}
}