.prices {
	&-section {
		padding: 60px 0;
		background: url(../images/bgs/prices-bg.jpg) no-repeat;
		background-size: cover;
		
		.title {
			margin-bottom: 50px;
			
			@media #{$mobile} {
				margin-bottom: 35px;
			}
		}
		
		@media #{$desktop} {
			padding: 50px 0;
		}
		@media #{$tablet} {
			padding: 40px 0;
		}
		@media #{$mobile} {
			padding: 25px 0;
		}
	}

	&-item {
		background: $white;
		padding: 35px;
		border: 5px solid #e7e7e6;
		
		h5 {
			font-family: $second-font;
			font-size: 22px;
			text-align: center;
			margin-bottom: 30px;
		}
		
		ul {
			padding: 0;
			margin: 0;
			list-style: decimal;
			list-style-position: inside;
			
			li {
				margin-bottom: 10px;
			}
		}
		
		hr {
			max-width: 155px;
			border-top-color: #755e76;
		}
		
		.price {
			font-family: $second-font;
			font-size: 24px;
			text-align: center;
			margin-bottom: 20px;
		}
		
		&-center {
			.price {
				margin-bottom: 140px;
			}
		}
		
		@media #{$desktop} {
			padding: 30px;
		}
		@media #{$tablet} {
			padding: 15px;
		}
		@media #{$tablet} {
			margin-bottom: 20px;
			&-center {
				.price {
					margin-bottom: 20px;
				}
			}
		}
	}
}