.questions {
	&-section {
		padding: 120px 0 60px;
		
		@media #{$desktop} {
			padding: 100px 0 50px;
		}
		@media #{$tablet} {
			padding: 80px 0 40px;
		}
		@media #{$mobile} {
			padding: 50px 0 25px;
		}
	}
	
	&-description {
		width: 760px;
		margin: 60px auto 0;
		text-align: center;
			
		p {
			font-size: 18px;
			margin: 0;
		}
		
		@media #{$tablet} {
			width: 100%;
		}

		@media #{$mobile} {
			margin-top: 30px;
		}
	}
	
	&-inner {
		height: 445px;
		
		@media #{$desktop} {
			height: 410px;
		}
	
		@media #{$tablet} {
			height: 385px;
		}

		@media #{$mobile} {
			height: auto;
		}
	}
	
	&-column {
		float: left;
		height: 100%;
		width: 32%;
		background-size: cover;
		position: relative;
		font-family: $second-font;
		
		@media #{$mobile} {
			float: none;
			height: auto;
			min-height: 330px;
			width: 100%;
			background-repeat: no-repeat;
		}
		
		.fs11 {
			font-size: 11px;
		}
		.fs12 {
			font-size: 12px;
		}
		.fs13 {
			font-size: 13px;
		}
		.fs14 {
			font-size: 14px;
		}
		.fs15 {
			font-size: 15px;
		}
		.fs16 {
			font-size: 16px;
		}
		.fs17 {
			font-size: 17px;
		}
		.fs18 {
			font-size: 18px;
		}
		.fs19 {
			font-size: 19px;
		}
		.fs20 {
			font-size: 20px;
		}
		.fs24 {
			font-size: 24px;
		}
		.fs26 {
			font-size: 26px;
		}
		.fs30 {
			font-size: 30px;
		}
	}
	
	&-woman,
	&-man {
		p {
			color: #4c3345;
			position: absolute;
			
			span {
				display: block;
			}
		}
	}
	
	&-woman {
		background-image: url(../images/questions-woman.jpg);
		
		.span1 {
			top: 5px;
			left: 85px;
		}
		.span2 {
			top: 35px;
			left: 10px;
		}
		.span3 {
			top: 55px;
			left: 40px;
		}
		.span4 {
			top: 85px;
			left: 15px;
		}
		.span5 {
			top: 115px;
			left: 20px;
		}
		.span6 {
			top: 10px;
			right: 60px;
		}
		.span7 {
			top: 55px;
			right: 10px;
		}
		.span8 {
			top: 78px;
			right: 2px;
		}
		.span9 {
			top: 100px;
			right: 75px;
		}
		.span10 {
			top: 130px;
			right: 10px;
		}
		.span11 {
			top: 150px;
			right: 10px;
		}
		.span12 {
			top: 180px;
			right: 20px;
		}
		.span13 {
			top: 200px;
			right: 15px;
		}
		.span14 {
			top: 235px;
			right: 5px;
		}
		.span15 {
			top: 270px;
			right: 70px;
		}
		.span16 {
			top: 295px;
			right: 5px;
		}
		.span17 {
			top: 305px;
			right: 5px;
		}
		
		@media #{$desktop} {
			background-position: -70px 0;
			
			.span1,
			.span2,
			.span3,
			.span4,
			.span5 {
				display: none;
			}
		}
	
		@media #{$tablet} {
			background-position: -135px 0;
		}

		@media #{$mobile} {
			background-position: 0 0;
		}
	}
	
	&-man {
		background-image: url(../images/questions-man.jpg);
		
		.span1 {
			top: 15px;
			left: 80px;
		}
		.span2 {
			top: 35px;
			left: 30px;
		}
		.span3 {
			top: 55px;
			left: 35px;
		}
		.span4 {
			top: 90px;
			left: 20px;
		}
		.span5 {
			top: 110px;
			left: 60px;
		}
		.span6 {
			top: 140px;
			left: 10px;
		}
		.span7 {
			top: 170px;
			left: 10px;
		}
		.span8 {
			top: 200px;
			left: 10px;
		}
		.span9 {
			top: 10px;
			right: 10px;
		}
		
		@media #{$desktop} {
			.span9 {
				display: none;
			}
		}
	}
	
	&-center {
		padding-top: 60px;
		padding-left: 60px;
		width: 36%;
		background-image: url(../images/questions-center.jpg);
		
		p {
			font-size: 17px;
			color: #4c3345;
			
			span {
				display: block;
				font-size: 24px;
				color: $white;
			}
		}
		
		@media #{$desktop} {
			padding-top: 45px;
			padding-left: 30px;
		}
		
		@media #{$tablet} {
			padding-top: 30px;
			padding-left: 15px;
			
			p {
				font-size: 15px;
				
				span {
					font-size: 22px;
				}
			}
		}

		@media #{$mobile} {
			width: 100%;
			padding: 15px;
		}
	}
}