.reasons {
	&-section {
		padding: 60px 0;
		background: url(../images/bgs/reasons-bg.jpg) no-repeat;
		background-size: cover;
		
		.title {
			margin-bottom: 50px;
			
			@media #{$mobile} {
				margin-bottom: 35px;
			}
		}
		
		@media #{$desktop} {
			padding: 50px 0;
		}
		@media #{$tablet} {
			padding: 40px 0;
		}
		@media #{$mobile} {
			padding: 25px 0;
		}
	}

	&-item {
		padding-left: 90px;
		min-height: 170px;
		position: relative;
		
		@media #{$desktop} {
			min-height: 185px;
		}

		@media #{$mobile} {
			min-height: auto;
			margin-bottom: 35px;
		}
		
		&-icon {
			color: #d88aa3;
			position: absolute;
			top: 0;
			left: 0;
			font-size: 75px;
			
			.fi {
				&:before {
//					font-weight: bold;
				}
			}
		}

		&-description {
			h5 {
				font-family: $second-font;
				font-size: 18px;
				color: #d88aa3;
				margin-top: 0;
			}

			p {
				color: $white;
			}
		}
	}
}