.services {
	&-section {
		padding: 60px 0;
		
		@media #{$desktop} {
			padding: 50px 0;
		}
		@media #{$tablet} {
			padding: 40px 0;
		}
		@media #{$mobile} {
			padding: 25px 0;
		}
	}
	
	&-description {
		width: 760px;
		margin: auto;
		text-align: center;
			
		p {
			font-size: 18px;
			margin: 0;
		}
		
		a {
			font-size: 18px;
			color: #d88aa3;
			text-decoration: none;
			border-bottom: 1px dashed #d88aa3;
			transition: all, 0.3s, linear;
			
			&:hover {
				border-color: transparent;
			}
		}
		
		@media #{$tablet} {
			width: 100%;
		}

		&-top {
			margin-bottom: 60px;

			@media #{$mobile} {
				margin-bottom: 30px;
			}
		}

		&-bottom {
			margin-top: 20px;

			@media #{$mobile} {
				margin-top: 0;
			}
		}
	}

	&-item {
		height: 236px;
		display: block;
		font-family: $second-font;
		color: $base-font-color;
		text-decoration: none !important;
		margin-bottom: 40px;
		
		@media #{$desktop} {
			height: 285px;
			margin-bottom: 30px;
		}
		
		@media #{$tablet} {
			height: 230px;
		}

		@media #{$mobile} {
			height: auto;
			max-width: 200px;
			margin: 0 auto 30px;
		}

		p {
			margin-top: 5px;
			margin-bottom: 0;
			font-size: 16px;
			text-align: center;
		}
		
		&-image {
			position: relative;
			border-radius: 50%;
			overflow: hidden;
			
			img {
				display: block;
				width: 100%;
				height: 100%;
			}

			.image-button {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background: rgba(#684763, .8);
				visibility: hidden;
				opacity: 0;
				transition: all, 0.3s, linear;
				
				&-inner {
					position: absolute;
					top: calc(50% - 25px);
					left: 0;
					width: 100%;
					text-align: center;
				}
				
				span {
					display: inline-block;
					margin-top: 2px;
					padding: 10px 18px;
					font-size: 18px;
					color: #c0c173;
					border: 1px solid #c0c173;
				}
			}
		}
		
		&:hover,
		&:focus {
			color: $base-font-color;
			
			.image-button {
				visibility: visible;
				opacity: 1;
			}
		}
	}
}

.other-services {
	&-section {
		background: #f2f2f2;
		padding: 60px 0;
		
		.title {
			margin-bottom: 50px;
			
			@media #{$mobile} {
				margin-bottom: 65px;
			}
		}
	
		@media #{$desktop} {
			padding: 50px 0;
		}
		@media #{$tablet} {
			padding: 40px 0;
		}
		@media #{$mobile} {
			padding: 25px 0;
		}
	}

	&-item {
		@extend .services-item;
		height: auto;
		position: relative;

		.fi-plus {
			font-size: 35px;
			position: absolute;
			top: 58px;
			left: -70px;
		}
		
		h5 {
			font-family: $second-font;
			font-size: 22px;
			margin-bottom: 0;
			text-align: center
		}

		&-image {
				@extend .services-item-image;
		}
		
		@media #{$desktop} {
			.fi-plus {
				top: 80px;
				left: -50px;
			}
		}
		@media #{$tablet} {
			.fi-plus {
				top: 55px;
				left: -50px;
			}
		}
		@media #{$mobile} {
			.fi-plus {
				top: -60px;
				left: calc(50% - 18px);
			}
		}
	}
}