.team {
	&-section {
		padding: 120px 0 60px;
		
		@media #{$desktop} {
			padding: 100px 0 50px;
		}
		@media #{$tablet} {
			padding: 80px 0 40px;
		}
		@media #{$mobile} {
			padding: 50px 0 25px;
		}
	}
	
	&-item {
		margin-bottom: 40px;
		
		&-left {
			.team-item-image {
				float: left;
			}
			.team-item-description {
				float: right;
			}
		}
		
		&-right {
			.team-item-image	 {
				float: right;
			}
			.team-item-description {
				float: left;
			}
		}
		
		&-image {
			width: 400px;
			
			img {
				max-width: 100%;
				display: block;
			}
			
			.btn {
				margin-top: 15px;
			}
		}
		
		&-inner {
			@extend .clearfix;
		}
		
		&-description {
			width: calc(100% - 400px);
			font-family: $second-font;
			
			h1 {
				margin: 0;
				padding: 25px 40px 25px 60px;
				font-size: 32px;
			}
		}
		
		&-comment {
			padding: 55px 60px 55px 85px;
			background: #f2f2f2;
			position: relative;
				
			&:before {
				content: '“';
				font-size: 60px;
				position: absolute;
				top: 50px;
				left: 40px;
			}
			
			p {
				margin: 0;
				font-size: 16px;
			}
		}
		
		@media #{$desktop} {
			&-image {
				width: 340px;
			}
			
			&-description {
				width: calc(100% - 340px);
			}
		}
	
		@media #{$tablet} {
			&-description {
				h1 {
					padding: 15px 15px 15px 25px;
					font-size: 30px;
				}
			}
			
			&-comment {
				padding: 30px 45px 30px 50px;
				
				&:before {
					top: 17px;
					left: 15px;
					font-size: 50px;
				}
			}
		}

		@media #{$mobile} {
			&-image,
			&-description {
				float: none !important;
				width: 100%;
			}
			
			&-image {
				img {
					margin: auto;
				}
			}
			
			&-description {
				h1 {
					padding: 15px;
				}
			}
			
			&-comment {
				padding: 25px 30px 20px 40px;
				
				&:before {
					left: 10px;
					font-size: 45px;
				}
			}
		}
	}
}