$icon-font-path: '../fonts/';

@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700,400italic,300italic&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700&subset=latin,cyrillic-ext);

$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;

$base-font-family: 'Open Sans', sans-serif;
$base-font-size: 14px;
$base-font-weight: $regular;
$base-font-color: #503749;

$second-font: 'Merriweather', serif;

$black: #000000;
$white: #fdfaf7;
$purple: #5b455c;
$pink-light: #cd97a8;

$desktop: "only screen and (max-width : 1199px)";
$tablet: "only screen and (max-width : 991px)";
$mobile: "only screen and (max-width : 767px)";

@import "_base.scss";
@import "_slick.scss";
@import "_flaticon.scss";

@import "_header.scss";
@import "_footer.scss";
@import "_callback.scss";
@import "_mainslider.scss";
@import "_questions.scss";
@import "_services.scss";
@import "_about.scss";
@import "_portfolio.scss";
@import "_team.scss";
@import "_reasons.scss";
@import "_feedbacks.scss";
@import "_prices.scss";
@import "_organization.scss";
@import "_budget.scss";
@import "_action.scss";