	/*
  	Flaticon icon font: Flaticon
  	Creation date: 20/04/2016 16:51
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-animals:before { content: "\f100"; }
.flaticon-animals-1:before { content: "\f101"; }
.flaticon-animals-2:before { content: "\f102"; }
.flaticon-arrows:before { content: "\f103"; }
.flaticon-black:before { content: "\f104"; }
.flaticon-black-1:before { content: "\f105"; }
.flaticon-business:before { content: "\f106"; }
.flaticon-business-1:before { content: "\f107"; }
.flaticon-camera:before { content: "\f108"; }
.flaticon-champagne:before { content: "\f109"; }
.flaticon-check:before { content: "\f10a"; }
.flaticon-clock:before { content: "\f10b"; }
.flaticon-cross:before { content: "\f10c"; }
.flaticon-food:before { content: "\f10d"; }
.flaticon-food-1:before { content: "\f10e"; }
.flaticon-food-2:before { content: "\f10f"; }
.flaticon-heart:before { content: "\f110"; }
.flaticon-home:before { content: "\f111"; }
.flaticon-interface:before { content: "\f112"; }
.flaticon-interface-1:before { content: "\f113"; }
.flaticon-letter:before { content: "\f114"; }
.flaticon-love:before { content: "\f115"; }
.flaticon-money:before { content: "\f116"; }
.flaticon-money-1:before { content: "\f117"; }
.flaticon-music:before { content: "\f118"; }
.flaticon-music-1:before { content: "\f119"; }
.flaticon-nature:before { content: "\f11a"; }
.flaticon-note:before { content: "\f11b"; }
.flaticon-party:before { content: "\f11c"; }
.flaticon-people:before { content: "\f11d"; }
.flaticon-picture:before { content: "\f11e"; }
.flaticon-pin:before { content: "\f11f"; }
.flaticon-present:before { content: "\f120"; }
.flaticon-ribbon:before { content: "\f121"; }
.flaticon-search:before { content: "\f122"; }
.flaticon-shapes:before { content: "\f123"; }
.flaticon-shapes-1:before { content: "\f124"; }
.flaticon-shapes-2:before { content: "\f125"; }
.flaticon-signature:before { content: "\f126"; }
.flaticon-social-media:before { content: "\f127"; }
.flaticon-social-media-1:before { content: "\f128"; }
.flaticon-square:before { content: "\f129"; }
.flaticon-square-1:before { content: "\f12a"; }
.flaticon-technology:before { content: "\f12b"; }
.flaticon-technology-1:before { content: "\f12c"; }
.flaticon-technology-2:before { content: "\f12d"; }
.flaticon-time:before { content: "\f12e"; }
.flaticon-transport:before { content: "\f12f"; }
.flaticon-transport-1:before { content: "\f130"; }
.flaticon-youtube:before { content: "\f131"; }